/* general */

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main content */

.container {
  display: flex;
  justify-content: center;
  position: absolute;
  height: max-content;
  width: 100%;
  background-color: rgb(215, 240, 250);
}

.container > div {
  margin: 80px 2vw;
  height: fit-content;
  width: 600px;
  background-color: white;
  border-radius: 0.8vw;
  display: grid;
  flex-direction: column;
  justify-content: center;
  padding: 2vw;
  font-family: Roboto, sans-serif;
}

header {
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
}

header > .image {
  display: grid;
  justify-content: start;
  align-items: center;
}

header > .image > img {
  width: 120px;
  height: 120px;
  clip-path: circle(50%);
}

header > .info {
  display: grid;
  grid-template-rows: 50% 50%;
}

header > .info > .info-details {
  display: grid;
  align-items: flex-end;
  text-align: center;
}

header > .info > .info-details.info-details > h2 {
  letter-spacing: 0.1rem;
}

header > .info > .info-details.info-details > p {
  font-size: 13px;
}

header > .info > nav {
  display: grid;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 13px;
}

nav > ul > li {
  background-color: rgb(229, 245, 252);
  padding: 0.8vw;
  border-radius: 2px;
}

nav > ul > li > a:link,
:visited,
:active {
  text-decoration: none;
  color: black;
}
nav > ul > li > a:hover {
  text-decoration: line-through;
}

section {
  margin: 30px 0;
  display: grid;
}

section > h4 {
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.05rem;
  margin: 10px 0;
}

section > .details {
  margin: 10px 0;
}

section > .details > h5 {
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 22px;
}

section > .details > p {
  margin: 5px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > * {
  width: 300px;
  margin: 5px 0;
  padding: 10px 15px;
  color: rgb(14, 108, 149);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 13px;
  border: 1px solid rgb(59, 141, 176);
  background-color: rgb(229, 245, 252);
  border-radius: 5px;
  min-height: 40px;
  
}

form > textarea {
  resize: vertical;
  min-height: 160px;
}

.pageclip-form__submit::after {
  border-color: rgb(59, 141, 176);
  border-left-color: rgb(4, 67, 95);
}